{% extends 'base.html.twig' %}

{% block title %}Contact us {% endblock %}

{% block body %}
<div class="container">
<h1 class="display-1 mb-1 mt-5 text-center">Contact us</h1>
<p class="text-center display-5 mb-5">{{ contact_email}}</p>

{{ include ('includes/contactform.html.twig') }}

</div>
{% endblock %}