 <div class="mb-5">

{{ form_start(contact_form) }}
 
{{ form_widget(contact_form) }}

<div class="mb-3 row">
    <label class="col-form-label col-sm-2"></label>
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>    
    </div>
</div>

{{ form_end(contact_form) }}

</div>